




		input[type=reset],input[type=submit]{
			padding: 10px;
		}
		input[type=text],input[type=password],input[type=number],input[type=email]
			{ 
                        display: block;
			width:250px;
			height:40px;
                        padding: 12px 20px;
                        margin: 8px 0;
                        box-sizing: border-box;
                        border: none;
                        border: 2px solid #80ccff;
                        background-color: rgba(255,255,255,0.1);
                        border-radius: 25px;
			}

			
			
			
			table tr td ul
			{
				width:100%;
				height:50px;
			}
			table tr td ul li
			{
			
			list-style-type:none;
		display:inline;
		text-align:center;
		height:100px;
		width:100px;
			
			}
			table tr td ul li a
			{ text-decoration:none;
			font:20px black;
			text-align:center ;
			margin-left:0%;
			}
			table
			{
			 font-family:verdana; font:Arial;
			 }
			 
			
			